[package]
version = "3.1.4"
authors =["Damien Bataille <dbataille@nvidia.com>"]
title = "NVIDIA RTX Remix Asset Replacements extension for the StageCraft"
description = "Extension that works on asset replacement data for NVIDIA RTX Remix StageCraft App"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["asset", "replacement", "core"]
icon = "data/icon.png"
category = "internal"
preview_image = "data/preview.png"
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit/-/tree/main/source/extensions/lightspeed.trex.asset_replacements.core.shared"

[dependencies]
"lightspeed.common" = {}
"omni.flux.utils.dialog" = {}
"lightspeed.layer_manager.core" = {}
"lightspeed.tool.material.core" = {}
"lightspeed.trex.commands" = {}  # for omni.kit.undo (this is inside omni.kit.commands) and SetPrimTypeName
"lightspeed.trex.utils.common" = {}
"omni.client" = {}
"omni.flux.asset_importer.core" = {}
"omni.flux.pip_archive" = {}  # Required for Pydantic
"omni.flux.service.shared" = {}
"omni.flux.utils.common" = {}
"omni.flux.validator.factory" = {}
"omni.kit.clipboard" = {}
"omni.kit.context_menu" = {}
"omni.usd" = {}

[[python.module]]
name = "lightspeed.trex.asset_replacements.core.shared"

[[test]]
dependencies = [
    "lightspeed.trex.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]

[[test]]
name = "startup"
dependencies = [
    "lightspeed.trex.tests.dependencies",
]
