variables:
  AWS_ACCESS_KEY_ID: $AWS_OMNIVERSEDOCS_ACCESS_KEY_ID
  AWS_SECRET_ACCESS_KEY: $AWS_OMNIVERSEDOCS_SECRET_ACCESS_KEY
  DXVK_REMIX_NVIDIA_MIN_DRIVER: 0

stages:
  - check_mr
  - check_format
  - check_lint
  - flux_e2e_tests
  - flux_unit_tests
  - lss_e2e_tests
  - lss_unit_tests
  - build_docs
  - publish_docs
  - build_package
  - publish_extensions
  - publish_package
  - publish_package_scheduled
  - gitlab_release

include:
  # Job definitions
  - local: tools/ci/gitlab/checks/check_changelog.yml
  - local: tools/ci/gitlab/checks/check_forbidden_words.yml
  - local: tools/ci/gitlab/checks/check_test_location.yml
  - local: tools/ci/gitlab/checks/check_format.yml
  - local: tools/ci/gitlab/checks/check_lint.yml
  - local: tools/ci/gitlab/tests/unit/flux/run_flux_unit_tests_linux.yml
  - local: tools/ci/gitlab/tests/unit/flux/run_flux_unit_tests_windows_a2o.yml
  - local: tools/ci/gitlab/tests/unit/flux/run_flux_unit_tests_windows_p2z.yml
  - local: tools/ci/gitlab/tests/unit/lss/run_lss_unit_tests_linux.yml
  - local: tools/ci/gitlab/tests/unit/lss/run_lss_unit_tests_windows_a2o.yml
  - local: tools/ci/gitlab/tests/unit/lss/run_lss_unit_tests_windows_p2z.yml
  - local: tools/ci/gitlab/tests/e2e/flux/run_flux_e2e_a2s_tests_windows.yml
  - local: tools/ci/gitlab/tests/e2e/flux/run_flux_e2e_t2z_tests_windows.yml
  - local: tools/ci/gitlab/tests/e2e/lss/run_lss_e2e_a2s_tests_windows.yml
  - local: tools/ci/gitlab/tests/e2e/lss/run_lss_e2e_t2z_tests_windows.yml
  - local: tools/ci/gitlab/docs/build_docs.yml
  - local: tools/ci/gitlab/docs/publish_docs.yml
  - local: tools/ci/gitlab/build/build_package.yml
  - local: tools/ci/gitlab/publishing/publish_extensions.yml
  - local: tools/ci/gitlab/publishing/publish_package.yml
  - local: tools/ci/gitlab/publishing/publish_package_scheduled.yml
  - local: tools/ci/gitlab/gitlab/build_gitlab_package.yml
  - local: tools/ci/gitlab/gitlab/publish_package.yml
  - local: tools/ci/gitlab/gitlab/publish_release.yml
  # Base definitions shared between jobs
  - local: tools/ci/gitlab/defaults/defaults.yml
  - local: tools/ci/gitlab/defaults/gitlab_release.yml
  - local: tools/ci/gitlab/defaults/agents/gpu_agent.yml
  - local: tools/ci/gitlab/defaults/agents/linux_agent.yml
  - local: tools/ci/gitlab/defaults/agents/windows_agent.yml
  - local: tools/ci/gitlab/defaults/vault/linux_vault.yml
  - local: tools/ci/gitlab/defaults/vault/windows_vault.yml
  # Vault definitions
  - project: 'omniverse/sectools/vault'
    file: '/templates/v3/linux/packman_s3.gitlab-ci.yml'
  - project: 'omniverse/sectools/vault'
    file: 'templates/v3/linux/codesign.gitlab-ci.yml'
  - project: 'omniverse/sectools/vault'
    file: 'templates/v3/windows/packman_s3.gitlab-ci.yml'
  - project: 'omniverse/sectools/vault'
    file: 'templates/v3/windows/codesign.gitlab-ci.yml'
