[package]
version = "1.2.2"
authors =["Pierre-Oliver Trottier <ptrottier@nvidia.com>"]
title = "NVIDIA RTX Remix Micro-Service MCP Server"
description = "Micro-Service MCP Server Core for NVIDIA RTX Remix"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["micro", "service", "mcp", "server"]
icon = "data/icon.png"
category = "other"
preview_image = "data/preview.png"

[dependencies]
"lightspeed.trex.service.core" = {}  # Make sure the REST API is started before the MCP server
"omni.flux.pip_archive" = {}  # For FastMCP
"omni.services.core" = {}
"omni.services.transport.server.base" = {}
"omni.usd" = {}

[settings.exts."lightspeed.trex.mcp.core"]
host = "127.0.0.1"
port = 8000
allow_port_range = true
log_level = "warning"

[[python.module]]
name = "lightspeed.trex.mcp.core"

[[test]]
dependencies = [
    "lightspeed.trex.tests.dependencies",
]

args = [
    "--/renderer/mdl/searchPaths/templates=${lightspeed.trex.app.resources}/deps/omni_core_materials/Base;${kit}/mdl/core/Base;${kit}/mdl/core/Volume;${kit}/mdl/core/mdl"
]

stdoutFailPatterns.exclude = [
    # Generic Error
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]

[[test]]
name = "startup"

dependencies = [
    "lightspeed.trex.tests.dependencies",
]

args = [
    "--/renderer/mdl/searchPaths/templates=${lightspeed.trex.app.resources}/deps/omni_core_materials/Base;${kit}/mdl/core/Base;${kit}/mdl/core/Volume;${kit}/mdl/core/mdl"
]
stdoutFailPatterns.exclude = [
    # Generic Error
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]
