[package]
# Semantic Versionning is used: https://semver.org/
version = "1.1.0"

# Lists people or organizations that are considered the "authors" of the package.
authors = ["Pierre-Olivier Trottier <ptrottier@nvidia.com>"]

# The title and description fields are primarly for displaying extension info in UI
description = "Base extension to hold test arguments and dependencies"
title = "Flux Test Base"

# Path (relative to the root) or content of readme markdown file for UI.
readme = "docs/README.md"

# One of categories for UI.
category = "Utils"

# Keywords for the extension
keywords = ["kit", "flux", "test", "dependencies"]

# Location of change log file in target (final) folder of extension, relative to the root.
# More info on writing changelog: https://keepachangelog.com/en/1.0.0/
changelog = "docs/CHANGELOG.md"

# Preview image and icon. Folder named "data" automatically goes in git lfs (see .gitattributes file).
# Preview image is shown in "Overview" of Extensions window. Screenshot of an extension might be a good preview image.
preview_image = "data/preview.png"

# Icon is shown in Extensions window, it is recommended to be square, of size 256x256.
icon = "data/icon.png"

[core]
order = -1000

[dependencies]
"omni.flux.tests.settings" = {}
"omni.flux.utils.tests" = {}
"omni.kit.ui_test" = {}

[settings]
exts."omni.flux.tests.dependencies".deferred_dependencies = [
    "omni.kit.test_suite.helpers",
]

[[python.module]]
name = "omni.flux.tests.dependencies"
