[package]
# Semantic Versionning is used: https://semver.org/
version = "3.14.2"

# Lists people or organizations that are considered the "authors" of the package.
authors = ["Damien Bataille <dbataille@nvidia.com>"]

# The title and description fields are primarly for displaying extension info in UI
description = "This is plugins that will check what we want in USD"
title = "USD Check Validator Plugins"

# Path (relative to the root) or content of readme markdown file for UI.
readme = "docs/README.md"

# One of categories for UI.
category = "Widget"

# Keywords for the extension
keywords = ["kit", "flux", "validator", "plugin", "check", "usd"]

# Location of change log file in target (final) folder of extension, relative to the root.
# More info on writing changelog: https://keepachangelog.com/en/1.0.0/
changelog = "docs/CHANGELOG.md"

# Preview image and icon. Folder named "data" automatically goes in git lfs (see .gitattributes file).
# Preview image is shown in "Overview" of Extensions window. Screenshot of an extension might be a good preview image.
preview_image = "data/images/preview.png"

# Icon is shown in Extensions window, it is recommended to be square, of size 256x256.
icon = "data/images/icon.png"

[dependencies]
"omni.client" = {}
"omni.flux.asset_importer.core" = {}
"omni.flux.commands" = {} # For SetDefaultPrim & CreateOrInsertSublayer commands
"omni.flux.info_icon.widget" = {}
"omni.flux.lookdev.core" = {}
"omni.flux.pip_archive" = {} # Required for pydantic
"omni.flux.internal_pip_archive" = { order = -2001 } # Required for remix-client & remix-models-i2m
"omni.flux.resources" = {}
"omni.flux.utils.common" = {}
"omni.flux.utils.material_converter" = {}
"omni.flux.utils.octahedral_converter" = {}
"omni.flux.validator.factory" = {}
"omni.kit.material.library" = {}
"omni.kit.viewport.utility" = {}
"omni.kit.widget.prompt" = {}
"omni.ui" = {}
"omni.usd" = {}

[[python.module]]
name = "omni.flux.validator.plugin.check.usd"

[[test]]
dependencies = [
    "omni.flux.tests.dependencies",
    "omni.flux.validator.manager.core",
    "omni.flux.validator.manager.widget",
    "omni.flux.validator.plugin.context.usd_stage",
    "omni.flux.validator.plugin.selector.usd",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]
