[package]
# Semantic Versionning is used: https://semver.org/
version = "1.16.6"

# Lists people or organizations that are considered the "authors" of the package.
authors = ["Mark Henderson <markh@nvidia.com>"]

# The title and description fields are primarly for displaying extension info in UI
description = "Batch converts obj, fbx, etc files to usd files"
title = "Flux Asset Importer"

# Path (relative to the root) or content of readme markdown file for UI.
readme = "docs/README.md"

# One of categories for UI.
category = "Utility"

# Keywords for the extension
keywords = ["kit", "asset", "utils", "conversion", "fbx", "obj", "gltf"]

# Location of change log file in target (final) folder of extension, relative to the root.
# More info on writing changelog: https://keepachangelog.com/en/1.0.0/
changelog = "docs/CHANGELOG.md"

# Preview image and icon. Folder named "data" automatically goes in git lfs (see .gitattributes file).
# Preview image is shown in "Overview" of Extensions window. Screenshot of an extension might be a good preview image.
preview_image = "data/preview.png"

# Icon is shown in Extensions window, it is recommended to be square, of size 256x256.
icon = "data/icon.png"

[dependencies]
"omni.kit.asset_converter" = {}
"omni.flux.pip_archive" = {}  # For Pydantic
"omni.flux.utils.common" = {}
"omni.client" = {}
"omni.kit.usd.collect" = {}

[[python.module]]
name = "omni.flux.asset_importer.core"

[[test]]
dependencies = [
    "omni.flux.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    # expected errors from testing failures
    "*file/does/not/exist*",
    "*test_bad_config.json*",
    "*unmade_folder*",
    # Errors caused by long paths, nesting, and unavoidable includes in CI runs
    "*omni.kit.window.filepicker*",
    "*omni.kit.window.file_importer*",
    "*omni.kit.window.file_exporter*",
    "*omni.kit.window.file*"
]
