[package]
# Semantic Versionning is used: https://semver.org/
version = "1.9.3"

# Lists people or organizations that are considered the "authors" of the package.
authors =["Pierre-Olivier Trottier <ptrottier@nvidia.com>"]

# The title and description fields are primarly for displaying extension info in UI
title = "Flux Layer Tree Widget"
description = "Layer Tree with configurable model"

# Path (relative to the root) or content of readme markdown file for UI.
readme = "docs/README.md"

# One of categories for UI.
category = "Widget"

# Keywords for the extension
keywords = ["kit", "flux", "layer", "tree", "widget"]

# Location of change log file in target (final) folder of extension, relative to the root.
# More info on writing changelog: https://keepachangelog.com/en/1.0.0/
changelog = "docs/CHANGELOG.md"

# Preview image and icon. Folder named "data" automatically goes in git lfs (see .gitattributes file).
# Preview image is shown in "Overview" of Extensions window. Screenshot of an extension might be a good preview image.
preview_image = "data/images/preview.png"

# Icon is shown in Extensions window, it is recommended to be square, of size 256x256.
icon = "data/images/icon.png"

[dependencies]
"omni.flux.commands" = {}  # Using custom commands
"omni.flux.layer_tree.usd.core" = {}
"omni.flux.utils.common" = {}
"omni.flux.utils.widget" = {}
"omni.kit.usd.layers" = {}
"omni.kit.widget.prompt" = {}
"omni.kit.window.file_exporter" = {}
"omni.ui" = {}
"omni.usd" = {}

[[python.module]]
name = "omni.flux.layer_tree.usd.widget"

[[test]]
dependencies = [
    "omni.flux.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
    "*Validation failed*",
]
