[package]
version = "2.0.7"
authors =["Damien Bataille <dbataille@nvidia.com>"]
title = "NVIDIA RTX Remix layout for the IngestCraft"
description = "Layout for NVIDIA RTX Remix IngestCraft App"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["layout", "ingestcraft", "ingest"]
icon = "data/icon.png"
category = "internal"
preview_image = "data/preview.png"
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit/-/tree/master/source/extensions/lightspeed.trex.layout.ingestcraft"

[dependencies]
"lightspeed.common" = {}
"lightspeed.trex.contexts" = {}
"lightspeed.trex.layout.shared.mass_ingestion" = {}

[[python.module]]
name = "lightspeed.trex.layout.ingestcraft"

[[test]]
dependencies = [
    "lightspeed.trex.tests.dependencies",
    "omni.flux.validator.plugin.check.usd",
    "omni.flux.validator.plugin.context.usd_stage",
    "omni.flux.validator.plugin.selector.usd",
    "omni.flux.validator.plugin.resultor.file"
]

args = [
    # "--/renderer/mdl/searchPaths/templates=${kit}/../omni_core_materials/Base;${kit}/mdl/core/Base;${kit}/mdl/core/Volume;${kit}/mdl/core/mdl"
    # For what ever reason, using the command line directly will not resolve ${kit} for mdl path.
    # Need to use a .kit file
    "--merge-config=${app}/../../exts/lightspeed.trex.app.resources/data/tests/lightspeed.trex.app.resources.core_material.kit"
]
