[package]
version = "1.2.4"
authors =["Pierre-Olivier Trottier <ptrottier@nvidia.com>"]
title = "NVIDIA RTX Remix Texture Replacements extension for the StageCraft"
description = "Extension that works on texture replacement data for NVIDIA RTX Remix StageCraft App"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["texture", "replacement", "core"]
icon = "data/icon.png"
category = "other"
preview_image = "data/preview.png"

[dependencies]
"lightspeed.pip_archive" = {}  # Required for Pydantic
"lightspeed.trex.utils.common" = {}
"omni.flux.asset_importer.core" = {}
"omni.flux.material_api" = {}
"omni.flux.service.shared" = {}
"omni.flux.utils.common" = {}
"omni.kit.commands" = {}
"omni.usd" = {}

[[python.module]]
name = "lightspeed.trex.texture_replacements.core.shared"

[[test]]
dependencies = [
    "lightspeed.trex.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]

[[test]]
name = "startup"
dependencies = [
    "lightspeed.trex.tests.dependencies",
]
