[package]
# Semantic Versionning is used: https://semver.org/
version = "1.2.18"

# Lists people or organizations that are considered the "authors" of the package.
authors = ["Pierre-Olivier Trottier <ptrottier@nvidia.com>"]

# The title and description fields are primarly for displaying extension info in UI
description = "This is the core of the project wizard extension"
title = "Remix Project Wizard Core"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
icon = "data/icon.png"
preview_image = "data/preview.png"

# One of categories for UI.
category = "internal"

# Keywords for the extension
keywords = [ "lightspeed", "rtx", "remix", "project", "wizard", "core"]
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit/-/tree/main/source/extensions/lightspeed.trex.project_wizard.core"

[settings.exts."lightspeed.trex.project_wizard.core"]
force_use_junction = false  # windows only

[dependencies]
"lightspeed.common" = {}
"lightspeed.layer_manager.core" = {}
"lightspeed.pip_archive" = {}  # Required for Pydantic
"lightspeed.trex.capture.core.shared" = {}
"lightspeed.trex.replacement.core.shared" = {}
"lightspeed.trex.contexts" = {}
"omni.client" = {}
"omni.flux.utils.common" = {}
"omni.kit.usd.layers" = {}

[[python.module]]
name = "lightspeed.trex.project_wizard.core"

[[test]]
dependencies = [
    "lightspeed.trex.tests.dependencies",
]
