[core]
order = 100  # to start always after the plugins

[package]
# Semantic Versionning is used: https://semver.org/
version = "1.9.2"

# Lists people or organizations that are considered the "authors" of the package.
authors = ["Damien Bataille <dbataille@nvidia.com>"]

# The title and description fields are primarly for displaying extension info in UI
description = "This is the widget for the mass validator"
title = "Flux Validator Mass Widget"

# Path (relative to the root) or content of readme markdown file for UI.
readme = "docs/README.md"

# One of categories for UI.
category = "Widget"

# Keywords for the extension
keywords = ["kit", "flux", "validator", "mass", "widget"]

# Location of change log file in target (final) folder of extension, relative to the root.
# More info on writing changelog: https://keepachangelog.com/en/1.0.0/
changelog = "docs/CHANGELOG.md"

# Preview image and icon. Folder named "data" automatically goes in git lfs (see .gitattributes file).
# Preview image is shown in "Overview" of Extensions window. Screenshot of an extension might be a good preview image.
preview_image = "data/images/preview.png"

# Icon is shown in Extensions window, it is recommended to be square, of size 256x256.
icon = "data/images/icon.png"

[dependencies]
"omni.kit.widget.prompt" = {}
"omni.flux.info_icon.widget" = {}
"omni.flux.tabbed.widget" = {}
"omni.flux.utils.common" = {}
"omni.flux.utils.widget" = {}
"omni.flux.validator.mass.core" = {}
"omni.flux.validator.mass.queue.widget" = {}
"omni.ui" = {}
"omni.usd" = {}

[[python.module]]
name = "omni.flux.validator.mass.widget"


[[test]]
stdoutFailPatterns.exclude = [
    "*TypeError: 'NoneType' object is not*",  # Expected when template cook fails
    "*ValueError: ERROR: No input file paths were given.*",  # Expected when template cook fails
    "*Exception when async '<function ManagerCore.deferred_run_with_exception at*",  # Expected when template cook fails
    "*Exception when async '<function Item.cook_template at *",  # Expected when template cook fails
    "*Exception when async '<function ValidatorMassWidget._add_and_run_all at *",  # Expected when template cook fails
    "*No check plugin(s) enabled to run.*",  # Expected when template cook fails
    "*Traceback (most recent call last)*",  # Expected when template cook fails
    "*FakeError*",  # Expected when template cook fails
    "*'NoneType' object is not iterable*",  # Expected when template cook fails
    "*Exception when async cook_template_no_exception()*",  # when we fail a validation before the cook
    "*1 validation error for ValidationSchema*",  # when we fail a validation before the cook
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]

dependencies = [
    "omni.flux.tests.dependencies",
    "omni.flux.validator.factory",
]
