[package]
version = "1.2.0"
authors =["Damien Bataille <dbataille@nvidia.com>"]
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["capture", "core", "shared"]
title = "NVIDIA RTX Remix capture core extension for the StageCraft"
description = "Extension that works on capture data for NVIDIA RTX Remix StageCraft App"
icon = "data/icon.png"
category = "internal"
preview_image = "data/preview.png"

[dependencies]
"lightspeed.common" = {}
"lightspeed.event.capture_persp_to_persp" = {optional=true}  # because this extension subscribe to the global event
"lightspeed.events_manager" = {}
"lightspeed.layer_manager.core" = {}
"omni.client" = {}
"omni.kit.pip_archive" = {}  # For PIL
"omni.flux.utils.common" = {}
"omni.usd" = {}

[[python.module]]
name = "lightspeed.trex.capture.core.shared"

[[test]]
dependencies = [
    "lightspeed.layer_manager.core",
    "lightspeed.trex.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]

[[test]]
name = "startup"
dependencies = [
    "lightspeed.trex.tests.dependencies",
]
