[package]
version = "1.0.5"
authors =["Damien Bataille <dbataille@nvidia.com>"]
title = "NVIDIA RTX Remix replacement/mod extension for the StageCraft"
description = "Extension that works on replacement data for NVIDIA RTX Remix StageCraft App"
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["remix", "replacement", "core", "mod"]
icon = "data/icon.png"
category = "internal"
preview_image = "data/preview.png"

[dependencies]
"lightspeed.common" = {}
"lightspeed.layer_manager.core" = {}
"omni.client" = {}
"omni.flux.utils.common" = {}
"omni.usd" = {}

[[python.module]]
name = "lightspeed.trex.replacement.core.shared"

[[test]]
dependencies = [
    "lightspeed.layer_manager.core",
    "lightspeed.trex.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    "*' is not valid*",  # Exclude error log for invalid replacement layer path
    "*' is not a USD path*",  # Exclude error log for non-usd replacement layer path
    "*' is not writeable*",  # Exclude error log for non-writable replacement layer path
    "*' is in the * directory*",  # Exclude error log for replacement layer in capture directory
    "*' is in a * directory*",  # Exclude error log for replacement layer in gameReadyAssets directory
]
