[package]
# Semantic Versionning is used: https://semver.org/
version = "1.9.3"

# Lists people or organizations that are considered the "authors" of the package.
authors = ["Damien Bataille <dbataille@nvidia.com>"]

# The title and description fields are primarly for displaying extension info in UI
description = "This is plugins that will select what we want in USD"
title = "USD Selector Validator Plugins"

# Path (relative to the root) or content of readme markdown file for UI.
readme = "docs/README.md"

# One of categories for UI.
category = "Widget"

# Keywords for the extension
keywords = ["kit", "flux", "validator", "plugin", "selector", "usd"]

# Location of change log file in target (final) folder of extension, relative to the root.
# More info on writing changelog: https://keepachangelog.com/en/1.0.0/
changelog = "docs/CHANGELOG.md"

# Preview image and icon. Folder named "data" automatically goes in git lfs (see .gitattributes file).
# Preview image is shown in "Overview" of Extensions window. Screenshot of an extension might be a good preview image.
preview_image = "data/images/preview.png"

# Icon is shown in Extensions window, it is recommended to be square, of size 256x256.
icon = "data/images/icon.png"

[dependencies]
"omni.client" = {}
"omni.flux.utils.common" = {}
"omni.ui" = {}
"omni.usd" = {}
"omni.flux.asset_importer.core" = {}
"omni.flux.validator.factory" = {}

[[python.module]]
name = "omni.flux.validator.plugin.selector.usd"

[[test]]
dependencies = [
    "omni.flux.tests.dependencies",
    "omni.flux.validator.manager.core",
    "omni.flux.validator.plugin.check.usd",
    "omni.flux.validator.plugin.context.usd_stage",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]

[[test]]
name = "startup"
dependencies = [
    "omni.flux.tests.dependencies",
    "omni.flux.validator.manager.core",
    "omni.flux.validator.plugin.check.usd",
    "omni.flux.validator.plugin.context.usd_stage",
]
