[package]
version = "2.4.0"
authors =["Damien Bataille <dbataille@nvidia.com>"]
title = "NVIDIA RTX Remix layout for the StageCraft"
description = "Layout for NVIDIA RTX Remix StageCraft App"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["layout", "stagecraft", "stage"]
icon = "data/icon.png"
category = "internal"
preview_image = "data/preview.png"
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit/-/tree/main/source/extensions/lightspeed.trex.layout.stagecraft"

[dependencies]
"lightspeed.common" = {}
"lightspeed.events_manager" = {}
"lightspeed.layer_manager.core" = {}
"lightspeed.trex.components_pane.stagecraft.controller" = {}
"lightspeed.trex.components_pane.stagecraft.models" = {}
"lightspeed.trex.contexts" = {}
"lightspeed.trex.home.widget" = {}
"lightspeed.trex.layout.shared.base" = {}
"lightspeed.trex.menu.workfile" = {}
"lightspeed.trex.properties_pane.stagecraft.widget" = {}
"lightspeed.trex.recent_projects.core" = {}
"lightspeed.trex.stage_manager.widget" = {}
"lightspeed.trex.utils.common" = {}
"lightspeed.trex.utils.widget" = {}
"lightspeed.trex.viewports.shared.widget" = {}
"omni.flux.feature_flags.core" = {}
"omni.flux.footer.widget" = {}
"omni.flux.utils.widget" = {}
"omni.flux.welcome_pad.widget" = {}
"omni.kit.widget.filebrowser" = {}
"omni.kit.window.filepicker" = {}
"omni.ui" = {}

[settings.exts."omni.flux.feature_flags.core".flags.stage_manager]
display_name = "Stage Manager"
tooltip = "Enable or Disable the Stage Manager panel from the 'Modding' tab"
value = true

[[python.module]]
name = "lightspeed.trex.layout.stagecraft"

[[test]]
dependencies = [
    "lightspeed.trex.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]

[[test]]
name = "startup"
dependencies = [
    "lightspeed.trex.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]
