[package]
version = "1.8.2"
authors = ["dbataille@nvidia.com"]
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["lightspeed", "trex", "mod", "project", "setup"]
title = "NVIDIA RTX Remix Properties Pane Project Setup widget for the StageCraft"
description = "Project Setup Properties Pane widget for NVIDIA RTX Remix StageCraft App"
icon = "data/icon.png"
category = "internal"
preview_image = "data/preview.png"

[dependencies]
"lightspeed.common" = {}
"omni.flux.utils.dialog" = {}
"lightspeed.events_manager" = {}
"lightspeed.event.events" = {}
"lightspeed.layer_manager.core" = {}
"lightspeed.trex.contexts" = {}
"lightspeed.trex.packaging.core" = {}
"lightspeed.trex.replacement.core.shared" = {}
"lightspeed.trex.utils.common" = {}
"lightspeed.trex.utils.widget" = {}
"omni.client" = {}
"omni.kit.widget.filebrowser" = {}
"omni.kit.window.filepicker" = {}
"omni.flux.property_widget_builder.model.file" = {}
"omni.flux.property_widget_builder.widget" = {version = "2.0"}
"omni.flux.utils.common" = {}
"omni.flux.utils.widget" = {}
"omni.kit.usd.layers" = {}
"omni.ui" = {}
"omni.usd" = {}

[[python.module]]
name = "lightspeed.trex.project_setup.widget"

[[test]]
dependencies = [
    "lightspeed.trex.tests.dependencies",
    "omni.kit.test_suite.helpers",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]

[[test]]
name = "startup"
dependencies = [
    "lightspeed.trex.tests.dependencies",
]
