[package]
version = "1.5.3"
authors =["Damien Bataille <dbataille@nvidia.com>"]
title = "NVIDIA RTX Remix Selection Tree implementation for the StageCraft"
description = "Selection Tree implementation for NVIDIA RTX Remix StageCraft App"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["selection", "tree", "widget"]
icon = "data/icon.png"
category = "internal"
preview_image = "data/preview.png"
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit/-/tree/main/source/extensions/lightspeed.trex.selection_tree.shared.widget"

[dependencies]
"omni.flux.light_creator.widget" = {}
"omni.flux.utils.common" = {}
"omni.flux.utils.widget" = {}
"lightspeed.common" = {}
"lightspeed.trex.asset_replacements.core.shared" = {}
"lightspeed.trex.utils.common" = {}
"lightspeed.trex.utils.widget" = {}
"omni.kit.commands" = {}
"omni.kit.usd.layers" = {}
"omni.ui" = {}
"omni.usd" = {}

[[python.module]]
name = "lightspeed.trex.selection_tree.shared.widget"

[[test]]
dependencies = [
    "lightspeed.layer_manager.core",
    "lightspeed.trex.tests.dependencies",
    "omni.flux.commands",
    "omni.flux.validator.factory",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]

[[test]]
name = "startup"
dependencies = [
    "lightspeed.trex.tests.dependencies",
]
