[package]
# Semantic Versionning is used: https://semver.org/
version = "1.5.1"

# Lists people or organizations that are considered the "authors" of the package.
authors = ["Alexander Jaus <ajaus@nvidia.com>"]

# The title and description fields are primarly for displaying extension info in UI
title = "Lightspeed Game Export Common Extension"
description="Stores values to be shared across Lightspeed Extensions"

# Path (relative to the root) or content of readme markdown file for UI.
readme  = "docs/README.md"

# URL of the extension source repository.
repository="https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit/-/tree/main/source/extensions/lightspeed.common"

# One of categories for UI.
category = "internal"

# Keywords for the extension
keywords = ["kit", "lightspeed", "common", "constants"]

# Location of change log file in target (final) folder of extension, relative to the root.
# More info on writing changelog: https://keepachangelog.com/en/1.0.0/
changelog="docs/CHANGELOG.md"

# Preview image and icon. Folder named "data" automatically goes in git lfs (see .gitattributes file).
# Preview image is shown in "Overview" of Extensions window. Screenshot of an extension might be a good preview image.
preview_image = "data/preview.png"

# Icon is shown in Extensions window, it is recommended to be square, of size 256x256.
icon = "data/icon.png"

[dependencies]
"omni.usd" = {}
"omni.ui" = {}

# Main python module this extension provides, it will be publicly available as "import omni.example.hello".
[[python.module]]
name = "lightspeed.common"
