[package]
version = "1.0.4"
authors = ["Alex Dunn <adunn@nvidia.com>", "Pierre-Olivier Trottier <ptrottier@nvidia.com>"]
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["event", "thumbnail"]
title = "Lightspeed Event Generate Thumbnail"
description = "Extension that generates thumbnails whenever a layer is saved"
icon = "data/icon.png"
category = "internal"
preview_image = "data/preview.png"

[dependencies]
"lightspeed.events_manager" = {}
"lightspeed.trex.viewports.shared.widget" = {}
"omni.client" = {}
"omni.flux.utils.common" = {}
"omni.kit.pip_archive" = {}  # For PIL
"omni.kit.widget.viewport" = {}
"omni.usd" = {}

[[python.module]]
name = "lightspeed.event.generate_thumbnail"

[[test]]
dependencies = [
    "lightspeed.trex.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]
