[package]
version = "1.0.4"
authors = ["dbataille@nvidia.com"]
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit"
changelog = "docs/CHANGELOG.md"
readme = "docs/README.md"
keywords = ["events", "register", "manager"]
title = "Lightspeed Events Manager"
description = "Extension that manages and registered event(s)"
icon = "data/icon.png"
category = "internal"
preview_image = "data/preview.png"

[ui]
name = "Lightspeed Events manager"

[dependencies]
"omni.flux.utils.common" = {}

[[python.module]]
name = "lightspeed.events_manager"

[[test]]
dependencies = [
    "lightspeed.trex.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]

