[package]
# Semantic Versionning is used: https://semver.org/
version = "1.0.2"

# Lists people or organizations that are considered the "authors" of the package.
authors = ["Pierre-Olivier Trottier <ptrottier@nvidia.com>"]

# The title and description fields are primarly for displaying extension info in UI
description = "A page used to setup a project"
title = "NVIDIA RTX Remix Project Wizard Setup Page Widget"

# One of categories for UI.
category = "internal"
keywords = [ "lightspeed", "rtx", "remix", "project", "wizard", "widget", "existing", "mods", "page"]
readme = "docs/README.md"
repository = "https://gitlab-master.nvidia.com/lightspeedrtx/lightspeed-kit/-/tree/master/source/extensions/lightspeed.trex.project_wizard.existing_mods_page.widget"
changelog = "docs/CHANGELOG.md"
preview_image = "data/preview.png"
icon = "data/icon.png"

[dependencies]
"lightspeed.common" = {}
"lightspeed.trex.project_wizard.core" = {}
"lightspeed.trex.replacement.core.shared" = {}
"omni.client" = {}
"omni.ui" = {}
"omni.usd" = {}
"omni.flux.utils.common" = {}
"omni.flux.wizard.widget" = {}

[[python.module]]
name = "lightspeed.trex.project_wizard.existing_mods_page.widget"

[[test]]
dependencies = [
    "lightspeed.trex.tests.dependencies",
]
