[package]
# Semantic Versionning is used: https://semver.org/
version = "2.24.0"

# Lists people or organizations that are considered the "authors" of the package.
authors = ["Lewis Weaver <lweaver@nvidia.com>", "Damien Bataille <dbataille@nvidia.com>", "Pierre-Olivier Trottier <ptrottier@nvidia.com>"]

# The title and description fields are primarly for displaying extension info in UI
description = "Utility for Flux common functionality"
title = "Flux common utils"

# Path (relative to the root) or content of readme markdown file for UI.
readme = "docs/README.md"

# One of categories for UI.
category = "SyntheticData"

# Keywords for the extension
keywords = ["kit", "flux", "utils"]

# Location of change log file in target (final) folder of extension, relative to the root.
# More info on writing changelog: https://keepachangelog.com/en/1.0.0/
changelog = "docs/CHANGELOG.md"

# Preview image and icon. Folder named "data" automatically goes in git lfs (see .gitattributes file).
# Preview image is shown in "Overview" of Extensions window. Screenshot of an extension might be a good preview image.
preview_image = "data/preview.png"

# Icon is shown in Extensions window, it is recommended to be square, of size 256x256.
icon = "data/icon.png"

[dependencies]
# omni.kit.pip_archive has Pillow and numpy. Adding Pillow in requirements will not work, because Pillow needs to
# import PIL, not import Pillow.
"omni.client" = {}
"omni.kit.pip_archive" = {}
"omni.kit.usd.layers" = {}
"omni.kit.window.file" = { optional=true }
"omni.usd" = {}

[[python.module]]
name = "omni.flux.utils.common"

[[test]]
dependencies = [
    "omni.flux.tests.dependencies",
]

stdoutFailPatterns.exclude = [
    "*[omni.kit.registry.nucleus.utils.common] Skipping deletion of:*",
]
